# Large binary files - exceed GitHub limits
docs_tools/software/pc/CoolViewPro2-2.9.2.0_release.zip
docs_tools/software/pc/arm-fullhanv2-eabi-b3.tgz
docs_tools/software/pc/arm-fullhanv3-linux-uclibcgnueabi-b6.2.tgz
