config SDKROOT
    string
    option env="SDKROOT"

menu "Platform Configuration"

config RT_USING_CALIBRATE
    bool

config CONFIG_ARCH_FULLHAN
    bool
    select RT_USING_TIMER_SOFT
    select RT_USING_GPIO
    select RT_USING_CALIBRATE

config CONFIG_ARCH_FH8636_FH8852V20X
    bool
    default n
    select ARCH_ARM_CORTEX_A7
    select CONFIG_ARCH_FULLHAN

config CONFIG_ARCH_FH885xV300
    bool
    default n
    select ARCH_ARM_CORTEX_A7
    select CONFIG_ARCH_FULLHAN

config CONFIG_ARCH_FH885xV310
    bool
    default n
    select ARCH_ARM_CORTEX_A7
    select CONFIG_ARCH_FULLHAN

choice
    prompt "Choose chip"
    default CONFIG_CHIP_FH8852V201

config CONFIG_CHIP_FH8852V201
    bool "FH8852V201"
    select CONFIG_ARCH_FH8636_FH8852V20X

config CONFIG_CHIP_FH8626V200
    bool "FH8626V200"
    select CONFIG_ARCH_FH8636_FH8852V20X

config CONFIG_CHIP_FH8636
    bool "FH8636"
    select CONFIG_ARCH_FH8636_FH8852V20X

config CONFIG_CHIP_FH8856V300
    bool "FH8856V300"
    select CONFIG_ARCH_FH885xV300

config CONFIG_CHIP_FH8858V300
    bool "FH8858V300"
    select CONFIG_ARCH_FH885xV300

config CONFIG_CHIP_FH8856V310
    bool "FH8856V310"
    select CONFIG_ARCH_FH885xV310

config CONFIG_CHIP_FH8852V310
    bool "FH8852V310"
    select CONFIG_ARCH_FH885xV310

config CONFIG_CHIP_FH8858V310
    bool "FH8858V310"
    select CONFIG_ARCH_FH885xV310

endchoice

config FH_FAST_BOOT
    bool
    default n

choice
    prompt "Choose board"
    default CONFIG_BOARD_APP

config CONFIG_BOARD_APP
    bool "app board"

config CONFIG_BOARD_FAST
    select FH_FAST_BOOT
    select CTL_QUAD_WIRE_SUPPORT
    bool "fastboot board"

endchoice

# comment "Boot stages"
config FH_ENABLE_SELF_LOAD_CODE
    bool "boot in multi-stage"
    default y

if FH_FAST_BOOT
    config CONFIG_STARTUP_TIMECOST
        bool "fastboot startup time costs statistics"
        default y
endif

if FH_ENABLE_SELF_LOAD_CODE
    choice
        prompt "Choose compress method"
        depends on FH_ENABLE_SELF_LOAD_CODE
        default FH_CONFIG_COMPRESS_LZO

        config FH_CONFIG_COMPRESS_LZO
            bool "LZO"
            depends on FH_USING_LZOP
            help
                fastest decompression, for fastboot

        config FH_CONFIG_COMPRESS_GZIP
            bool "GZIP"
            depends on FH_USING_ZLIB
            help
                balance for decompression speed and compress ratio

        config FH_CONFIG_COMPRESS_LZMA
            bool "LZMA"
            depends on FH_USING_LZMA
            help
                best compression, use least flash storage space.
    endchoice

endif

config FH_ENABLE_VIDEO
    bool "Enable DSP/ISP"
    default y

source "$SDKROOT/platform/cpu/Kconfig"

endmenu
